{% load static %}

<!DOCTYPE html>



<html lang="ja">
    <head>
        <title>
            inui_song_lists
        </title>
    
        <meta http-equiv='Content-Type' content="text/html" ; charset="UTF-8"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>
        <script src="{% static 'javascript/PaginateMyTable.js' %}"></script>
        

         <script src="{% static 'javascript/script.js' %}"></script>

         <link rel = 'stylesheet' Type="text/css" href='{% static "css/style.css"%}'/>
         
    </head>
    <body>
        <div id="wrapper"><canvas id="myCanvas" ></canvas></div>

        <div id="container"> 
            <h1 class="head1" onclick="double()">
                いぬいどんどんうたってく
            </h1><br />
           
            

         <div  class="news-container">
            <input type="text" id="search"> 
            <input type="button" value="絞り込む" id="button">
            <input type="button" value="すべて表示" id="button2">
            
          <table id="grid-basic"  class="sort-table">
          <thead>
            <tr>
              <th  >曲名</th>
              <th >歌手</th>
              <th class="image" data-sorter="false">リンク</th>
              <th data-column-id="upload_date" data-order="date">日付</th>
              <th data-sorter="false" >動画タイトル</th>
            </tr>
          </thead>
          <tbody>
            {% for list in form %}
            <tr>
                <td>{{list.song_title}}</td>
                <td>{{list.singer}}</td>
                
                <td ><a href="{{list.song_url}}" class="enable" target="_blank"><img src="{% static 'songlist/youtube_social_icon_red.png' %}" alt="no image"  class="img1"></a></td>
                <td>{{list.upload_date}}</td>
                <td>{{list.video_title}}</td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
         </div>
        </div>

        <script>
           
            $(function(){
                $('.sort-table').tablesorter({
                    textExtraction: function(node){
                        var attr = $(node).attr('data-value');
                        if(typeof attr !== 'undefined' && attr !== false){
                            return attr;
                        }
                        return $(node).text();
                    }
                });
            });

            $(function(){
                $('#button').bind("click",function(){
                    var re = new RegExp($('#search').val());
                    $('#grid-basic tbody tr').each(function(){
                        var tr = $(this);
                        tr.hide();
                        $('td', this).each(function(){
                            var txt = $(this).html();
                            if(txt.match(re) != null){
                                tr.show();
                            }
                        });
                    });
                });
                $('#button2').bind("click",function(){
                    $('#grid-basic tr').show();
                    $('#search').val('');
                });
            });

            $(document).ready(function() {
                $(".sort-table").paginate();
              });
              
           
        </script>
    </body>
    
</html>
<script>

    $(function () {
        sizing();
       
        $(window).resize(function() {
            sizing();
            double();
        });
    });
    // div#wrapperからcanvas#cnvsのサイズをもらう（#wrapperのサイズはCSSで）
    function sizing(){
        $('#myCanvas').attr({height:$('#wrapper').height()});
        $('#myCanvas').attr({width:$('#wrapper').width()});
    };

    
</script>

   
